<!-- Tabla de implementos -->
<table id="tabla-implementos">
    <tr>
        <th>Nombre</th>
        <th>Código</th>
        <th>Edificio</th>
        <th>Disponibilidad</th>
        <th>Hora de Reserva</th>
        <th>Hora de Devolución</th>
        <th>Reservar</th>
    </tr>
    <!-- Iterar sobre los implementos y mostrarlos en la tabla -->
    {% for implemento in implementos %}
    <tr>
        <td>{{ implemento.implemento }}</td>
        <td>{{ implemento.codigo }}</td>
        <td>{{ implemento.edificio }}</td>
        <td>{{ implemento.disponibilidad }}</td>
        {% if implemento.hora_reserva %}
            <td>{{ implemento.hora_reserva }}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if implemento.hora_max_reserva_devolucion %}
            <td>{{ implemento.hora_max_reserva_devolucion }}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if implemento.disponibilidad != 'Disponible' %}
            <td><button disabled>Reservar</button></td>
        {% else %}
            <td><button>Reservar</button></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>